---
import Header from "+/images/headers/welcome-events.jpg";
import CalendarTable from "+/images/welcome/welcome-events-calendar/calendar.jpg";
import GlobalLayout from "+/layouts/GlobalLayout.astro";
import StaticDocumentWrapper from "+/layouts/StaticDocumentWrapper.astro";
import { Focus } from "+/schema";
import { Picture } from "astro:assets";
---

<GlobalLayout
  title="2026 年春新歓 イベント一覧"
  description="新歓イベントの日程と詳細"
  focus={Focus.join}
  image={Header}
>
  <StaticDocumentWrapper
    header={Header}
    fill="bg-gray-300"
    title="2026 年春新歓 イベント一覧"
    position="object-top"
  >
    <section>
      <h2>📅 新歓イベント日程</h2>
      <p>
        2026 年の新歓イベントの日程は以下のとおりです。
        興味がある方は、ぜひ気軽に参加してみてください！
      </p>
      <p>日時・場所の詳細は確定し次第追加します。</p>
      <a
        href="/welcome-events-calendar/calendar.jpg"
        target="_blank"
        aria-label="新しいページで開く"
      >
        <Picture src={CalendarTable} alt="新歓日程カレンダー" />
      </a>
      <div class="text-center text-xs text-gray-500">
        画像クリックで全画面表示
      </div>
    </section>
    <section>
      <h2>☘️ 各イベント詳細</h2>
      <div class="divider">説明会系イベント</div>
      <section id="club-orientation">
        <h3>サーオリ</h3>
        <ul>
          <li>日時: 4/3 (金), 4/5 (日)</li>
        </ul>
      </section>
      <section id="joint-welcome-event">
        <h3>東大エンジニア系サークル合同新歓</h3>
        <ul>
          <li>日時: 4/9 (木), 4/15 (水)</li>
          <li>
            <a href="/articles/2026/03-30_joint-welcome-session">詳細はこちら</a
            >
          </li>
        </ul>
      </section>
      <div class="divider">学習系イベント</div>
      <section id="beginners-seminar">
        <h3>初学者講習会</h3>
        <ul>
          <li>日時: 4/12 (日), 4/18 (土)</li>
          <li>
            授業形式で HTML・CSS・JavaScript の基礎を学び、簡単な Web
            アプリを公開できるようになります。
          </li>
        </ul>
      </section>
      <section>
        <h3>自主勉強会</h3>
        <ul>
          <li>
            日時: 4/7 (火), 4/10 (金), 4/14 (火), 4/17 (金), 4/21 (火), 4/24
            (金), 4/28 (火), 5/8 (金)
          </li>
          <li>途中参加・途中退出可。</li>
          <li>
            自分のペースでプログラミングを学び、プロジェクトに参加できるスキルをつけよう！
            経験者も新しい知識を学ぶチャンス！
          </li>
        </ul>
      </section>
      <div class="divider">交流・開発系イベント</div>
      <section>
        <h3>新歓合宿</h3>
        <ul>
          <li>日程: 5/4 (月) ~ 5/6 (水)</li>
          <li>
            合宿を通してプログラミングの基礎を身につけ、自分なりのサイトやアプリを作りましょう！
          </li>
          <li>
            ut.code(); の新歓イベントとしては一番大きなものになります！
            <br />
            ut.code(); の普段の活動を知ることができますし、部員や他の新入生とも交流できるいい機会になります！
            ぜひご参加ください！
          </li>
        </ul>
      </section>
      <section>
        <h3>新歓ハッカソン</h3>
        <ul>
          <li>キックオフ: 4/26 (日)</li>
          <li>作業会: 5/9 (土)</li>
          <li>発表会: 5/10 (日)</li>
        </ul>
      </section>
      <div class="divider">その他</div>
      <section>
        <h3>ut.code(); 総会</h3>
        <ul>
          <li>4月総会: 4/25 (土)</li>
          <li>5月総会: 5/16 (土)</li>
        </ul>
      </section>
    </section>

    <style>
      section {
        margin-top: 3rem;
      }
      .divider {
        color: var(--color-gray-600);
      }
    </style>
  </StaticDocumentWrapper>
</GlobalLayout>
