---
import Link from "+/components/utils/Link.astro";
import Header from "+/images/headers/welcome-events.jpg";
import GlobalLayout from "+/layouts/GlobalLayout.astro";
import StaticDocumentWrapper from "+/layouts/StaticDocumentWrapper.astro";
import { Focus } from "+/schema";
---

<GlobalLayout
  title="2025 年夏新歓"
  description="新歓イベントの日程と詳細"
  focus={Focus.join}
  image={Header}
>
  <StaticDocumentWrapper
    header={Header}
    fill="bg-gray-300"
    title="2025 年夏新歓"
    position="object-top"
  >
    <section>
      <h2>☕️新歓配布資料</h2>
      <ul>
        <li>
          ut.code(); 紹介スライド <a
            href="https://docs.google.com/presentation/d/1c8eWT2ihAr1Y1ppYphcG_sRRV2cSsc9N1v7nWg_FPtQ/edit?usp=sharing"
            target="_blank">サークル紹介スライド | Google Docs</a
          >
        </li>
      </ul>
    </section>
    <section>
      <h2>🎉夏新歓イベント</h2>
      <section>
        <h3>新歓講習会</h3>
        <ul>
          <li>
            日時: 8/21 (木) 13:30 ~ 17:30, 8/23 (土) 13:30 ~ 18:30 両日の予定
          </li>
          <li>場所: 未定 確定し次第追記します</li>
          <li>
            HTMLやCSS、JavaScriptについて学び、
            サーバーとの通信やデータベースを用いたアプリを作りながら、Web開発の基礎について学びましょう！
          </li>
          <li>
            参加フォーム：
            <Link
              class="link link-uncolor"
              href="https://forms.gle/nPGtP3gLeTwynPkN9"
              _blank
            />
          </li>
        </ul>
      </section>
      <section>
        <h3>部員フォーム締め切り</h3>
        <ul>
          <li>日程: 8/31 (日) 予定</li>
          <li>
            ut.code(); の 2025
            年夏新歓での新入生の受付は、ここまでとさせていただきます。
          </li>
        </ul>
      </section>
    </section>
    <section>
      <h2>🌟夏新歓終了後の主なイベント</h2>
      <p>
        夏新歓で入られた方は、長期休暇の間に既存または新規のプロジェクトに参加し、学習および開発を続けていただきます。
        ut.code();
        全体向けに以下のイベントを開催予定ですので、ぜひ参加いただければと思います。
      </p>
      <section>
        <h3>夏合宿</h3>
        <ul>
          <li>日時: 9/17 (水) ~ 9/19 (金)</li>
          <li>場所: 山中寮内藤セミナーハウス</li>
          <li>
            みんなで集中的にweb開発をします。プロジェクトの進捗を生みましょう！
          </li>
        </ul>
      </section>
      <section>
        <h3>ut.code(); 総会</h3>
        <ul>
          <li>日時: 9/27 (土)</li>
          <li>場所: 未定</li>
          <li>
            進行中のプロジェクトについて発表し合うなど、サークル内での交流を行います。
          </li>
        </ul>
      </section>
    </section>

    <style>
      section {
        margin-top: 3rem;
      }
      #closed h3 {
        font-weight: normal;
        color: var(--color-gray-600);
      }
      .divider {
        color: var(--color-gray-600);
      }
    </style>
  </StaticDocumentWrapper>
</GlobalLayout>
